.volume-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.volume-indicator__number {
  font-size: 18rem;
  font-weight: bold;
  line-height: 1;
}
